body {
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    margin: 0 auto;
}
.food-item {
    width: 380px;
    text-align: center;
}
.food-item img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}